fastapi
uvicorn
pydantic
pymysql
pytest
cryptography
httpx
python-dotenv
sqlalchemy
pydantic[email]
passlib
python-jose[cryptography]
bcrypt
python-multipart
SpeechRecognition
pydub
reportlab
groq
ffmpeg
argon2-cffi